
/* .nav li {
  display: inline-block;
} */

/* .nav li {
  display: inline;
} */


.growing { transition: all .2s ease-in-out; }

.growing:hover { transform : scale(1.1); }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
   
}

/* .register-button { */

  /* background-color: red;
  color: white;
} */

.register-button:hover {
 
  color: lightskyblue;
}




@media (max-width: 600px) {
  /* Adjust the styles for smaller screens */
  div {
    /* Example styles for responsiveness */
    padding: 0.5rem;
    width: 100%;
  }

  .register-button {
    margin-top: 1rem;
  }
}





































/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
